@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.hero-container {
  max-width: 1128px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.hero-image,
.hero-content,
.application-image,
.application-content {
  width: 50%;
}

.hero-image img,
.application-image img {
  width: 100%;
}

.hero-title {
  color: #333333;
  max-width: 503px;
  font-family: Yeseva One;
  font-size: 60px;
  font-weight: 400;
  line-height: 80px;
  padding-left: 13px;
  border-left: 4px solid rgba(255, 89, 89, 1);
  ;
}

.hero-title span {
  color: #FFAD5A;
}

.hero-description {
  color: rgba(62, 62, 62, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 15px auto 20px;
}

.btn-primary {
  border: none;
  padding: 12px;
  border-radius: 5px;
  background: rgba(255, 89, 89, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.scroll-message {
  color: rgba(67, 67, 67, 1);
  font-size: 16px;
  font-weight: 400;
  margin-top: 33px;
}

.mission-container {
  max-width: 1128px;
  margin: 62px auto 86px;
}

.mission-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}

.mission-title span {
  color: #FFAD5A;
}

.mission-card-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.card {
  border-radius: 26px;
  padding: 32px;
}

.card img {
  width: 126px;
  height: 126px;
}

.card h2 {
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-weight: 600;
}

.card p {
  color: rgba(66, 66, 66, 1);
  font-size: 16px;
  font-weight: 400;
}

.card-1 {
  background: rgba(79, 157, 166, 0.1);
}

.card-2 {
  background: rgba(255, 89, 89, 0.1);
}

.card-3 {
  background: rgba(255, 244, 214, 1);
}

.develop-container,
.community-container,
.application-container {
  max-width: 1128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 105px;
}

.develop-image {
  width: 50%;
  padding-right: 72px;
}

.community-image {
  width: 50%;
  padding-left: 72px;
}

.develop-image img,
.community-image img {
  width: 100%;
}

.develop-content,
.community-content {
  width: 50%;
}

.develop-title,
.community-title {
  width: 435px;
  color: rgba(51, 51, 51, 1);
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  /* line-height: 100%; */
  margin: 0;
}

.develop-description,
.community-description {
  color: rgba(62, 62, 62, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 18px 0;
}

.footer {
  background-color: black;
  padding: 40px 0 45px;
  color: #FFFFFF;
  text-align: center;
}

.footer h1 {
  font-family: Yeseva One;
  margin-bottom: 0;
}

.footer span {
  color: rgba(255, 89, 89, 1);
}

.footer p {
  margin-top: 0;
  font-size: 14px;
  font-weight: 400;
}

.disabled {
  display: none;
}

@media screen and (max-width: 576px) {
  .hero-container {
    flex-direction: column-reverse;
  }

  .hero-image,
  .hero-content,
  .application-image,
  .application-content {
    width: 100%;
    text-align: center;
  }
  .hero-title{
    border-left: none;
  }
}